@{
    ViewBag.Title = "YMT-GROUP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-app="app" ng-controller="MyController" ng-init="Getdataindex()">
@*     <!-- SweetAlert2 CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!-- SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> *@

    <div class="text-center mb-3  p-3">
       
            <h1 class="page-title">Quotation Informations</h1>
      
    </div>
    <div class="mb-1 col-md-12 text-end">
        <button class="btn btn-secondary" type="button" ng-click="CreateQuo()"> New </button>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="quotationTable" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">Quotation Number</th>
                                <th class="text-center">Quotation Type</th>
                                <th class="text-center">Customer Name</th>
                                <th class="text-center">Customer Lastname</th>
                                <th class="text-center">Create date</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">PDF</th>
                                <th class="text-center">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in dataquo">
                                <td class="text-center">{{x.quotationNumber}}</td>
                                <td class="text-center">{{x.quoType}}</td>
                                <td class="text-center">{{x.customerName}}</td>
                                <td class="text-center">{{x.quoLastname}}</td>
                                <td class="text-center">{{x.createDate  | date: 'dd/MM/yyyy'}}</td>
                                <td class="text-center">{{x.quoStatus}}</td>
                                <td class="text-center">
                                    <button class="btn btn-primary" ng-click="editQuotation(x.quotationNumber)">Edit</button>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-success" ng-click="PrintPDF(x.quotationNumber)">PDF</button>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-info" ng-click="viewQuotation(x.quotationNumber)">View</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @section Scripts {
            <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>



            <script>
                $(document).ready(function () {
                    $('#quotationTable').DataTable({
                        ajax: {
                            url: '/Home/GetQuotations',
                            dataSrc: 'data'
                        },
                        columns: [
                            { data: 'quotationNumber', className: 'text-center' },
                            { data: 'quoType', className: 'text-center' },
                            { data: 'customerName', className: 'text-center' },
                            { data: 'quoLastname', className: 'text-center' },
                            {
                                data: 'createDate',
                                className: 'text-center',
                                render: function (data) {
                                    return new Date(data).toLocaleDateString('th-TH');
                                }
                            },
                            {
                                data: 'quoStatus',
                                className: 'text-center',
                                render: function (data) {
                                    return data === 1 ? 'Confirmed' : ''; 
                                }
                            },
                            {
                                data: null,
                                className: 'text-center',
                                render: function (data) {
                                    return `<button class="btn btn-primary edit-button" data-quotation-number="${data.quotationNumber}">Edit</button>`;
                                }
                            },
                            {
                                data: null,
                                className: 'text-center',
                                render: function (data) {
                                    return `<button class="btn btn-success pdf-button" data-quotation-number="${data.quotationNumber}">PDF</button>`;
                                }
                            },
                            {
                                data: null,
                                className: 'text-center',
                                render: function (data) {
                                    return `<button class="btn btn-info view-button" data-quotation-number="${data.quotationNumber}">View</button>`;
                                }
                            }
                        ]
                     
                    });

                    $('#quotationTable').on('click', '.edit-button', function () {
                        const id = $(this).data('quotationNumber');
                        editQuotation(id);


                    });
                    $('#quotationTable').on('click', '.pdf-button', function () {
                        const id = $(this).data('quotationNumber');
                        PrintPDF(id);
                    });
                    $('#quotationTable').on('click', '.view-button', function () {
                        const id = $(this).data('quotationNumber');
                        viewQuotation(id);
                    });

                });

                // Edit Quotation Function
                function editQuotation(id) {
                    location.href = '/Home/EditQuo?quotationNumber=' + id;
                }

                function PrintPDF(id) {
                    location.href = '/PDF/PrintPDF?quotationNumber=' + id;

                }

                // View Quotation Function
                // function viewQuotation(id) {
                 
                  
                // }
            </script>
        }
    </div>
</div>