@{
    ViewBag.Title = "YMT-GROUP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app" ng-controller="MyController" >

    <div class="text-center mb-3">
      
    </div>
   @*  เรียกหน้า Quotation *@
    <div class="text-center mb-3">
        <button type="button" class="btn btn-secondary btn-sm" ng-click="GetPageQuotation()">Quotation</button>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-secondary btn-sm" ng-click="GetPageOrderInformation()">Order Information</button>
    </div>

 </div>